@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #24252a;
    background-image: url(bgimg.png);
    background-size: contain;
    overflow-x: hidden;
}




nav li,
a,
button {
    font-family: Audiowide, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    list-style: none;

}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #008a90;

}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.logo {
    height: 0.5in;
    width: 2in;
    cursor: pointer;
}


.famtxt {
    color: rgb(182, 238, 52);
    font-size: 0.7cm;
    text-align: center;
    top: 50px;
    font-family: Audiowide, sans-serif;
    position: relative;
}

.fam {
width: 600px;
height: 500px;
position: relative;
left: 380px;
top: 50px;
}

.main {
    max-width: 800px;
    max-height: 500px;
    position: relative;
    top: 100px;
    left: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    text-align: center;
    background: rgba(92, 184, 221, 0.2);
    border-radius: 10px;
    -webkit-text-fill-color: transparent
    -webkit-text-stroke:1px #333333
}

.aboutfam {
    color: whitesmoke;
    font-size: 0.5cm;
}

.hobbies {
    color: rgb(182, 238, 52);
    font-size: 0.7cm;
    text-align: center;
    top: 50px;
    font-family: Audiowide, sans-serif;
    position: relative;
}

.about {
    max-width: 800px;
    max-height: 500px;
    position: relative;
    top: 100px;
    left: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    text-align: center;
    background: rgba(92, 184, 221, 0.2);
    border-radius: 10px;
    -webkit-text-fill-color: transparent -webkit-text-stroke:1px #333333
}

.abouttxt {
    color: whitesmoke;
    font-size: 0.5cm;
}

.favanime {
    font-family: Audiowide, sans-serif;
    font-size: 0.7cm;
    color: whitesmoke;
    position: relative;
    left: 50px;
    top: 100px;
}


/* Slideshow container */
.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
    top: 100px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #4810e2;
    font-size: 10px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #050000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.favmusic {
    font-family: Audiowide, sans-serif;
    font-size: 0.7cm;
    color: whitesmoke;
    position: relative;
    left: 50px;
    top: 100px;
}

.favmusic1 {
    position: relative;
    max-width: 470px;
    max-height: 600px;
    top: 70px;
    left: -40px;
}

.favmusic2 {
    position: relative;
    max-width: 470px;
    max-height: 600px;
    top: -357px;
    left: 400px;
}

.favmusic3 {
    position: relative;
    max-width: 470px;
    max-height: 600px;
    top: -785px;
    left: 800px;
}

.skills {
    font-family: Audiowide, sans-serif;
    font-size: 0.7cm;
    color: whitesmoke;
    position: relative;
    left: 50px;
    top: -750px;
}

/*------------------------------------ SKILL BAR CSS-------------------------------- */

.skills_section {
    max-width: 1000px;
    max-height: 500px;
    padding: 0px 13%;
    background-color: rgba(26, 25, 53, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 210px;
    top: -700px;
}

.skills_head {
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
    color: whitesmoke;
}

.skills_head h2 {
    font-size: 30px;
    margin-bottom: -5px;
    color: whitesmoke;
}

.skills_head h2 span {
    color: #fcfcfc;
}

.skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skills_main .skill_bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill_bar .info p:nth-child(2) {
    font-weight: 500;
}

.skill_bar .bar {
    width: 100%;
    height: 10px;
    background-color: rgb(233, 230, 230);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}

.skill_bar .bar .html {
    width: 90%;
    animation: html 2s;
}

.info {
    color: whitesmoke;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skill_bar .bar .css {
    width: 85%;
    animation: css 2s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skill_bar .bar .sass {
    width: 80%;
    animation: sass 2s;
}

@keyframes sass {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill_bar .bar .js {
    width: 80%;
    animation: css 2s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.str_weak {
    font-family: Audiowide, sans-serif;
    font-size: 0.7cm;
    color: whitesmoke;
    position: relative;
    left: 50px;
    top: -600px;
}

.str {
    max-width: 600px;
    max-height: 500px;
    position: relative;
    top: -550px;
    left: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    text-align: center;
    font-size: 0.7cm;
    background: rgba(92, 184, 221, 0.2);
    border-radius: 10px;
    color: whitesmoke;
    -webkit-text-fill-color: transparent 
    -webkit-text-stroke:1px #333333
}

.weak {
    max-width: 600px;
    max-height: 500px;
    position: relative;
    top: -803px;
    left: 700px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    text-align: center;
    font-size: 0.7cm;
    background: rgba(92, 184, 221, 0.2);
    border-radius: 10px;
    color: whitesmoke;
    -webkit-text-fill-color: transparent -webkit-text-stroke:1px #333333
}

.career_heading {
    color: whitesmoke;
    font-size: 0.7cm;
    text-align: center;
    top: -730px;
    font-family: Audiowide, sans-serif;
    position: relative;
}


.cpic {
    width: 6in;
    height: 4.5in;
    position: relative;
    left: 380px;
    top: -750px;
    max-height: 400px;
}

.cpic_info {
    max-width: 800px;
    max-height: 200px;
    position: relative;
    top: -750px;
    left: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    text-align: center;
    background: rgba(92, 184, 221, 0.2);
    border-radius: 10px;
    -webkit-text-fill-color: transparent 
    -webkit-text-stroke:1px #333333
}

.c_about {
    color: whitesmoke;
    font-size: 0.8cm;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(61, 151, 202);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 151, 200)
}
